* { 
  font-family: "JetBrainsMono Nerd Font"; 
  font-size: 13px; 
  min-height: 0;
  color: rgba(255, 100, 255, 1);
}

window#waybar {
  background-color: rgba(43, 48, 59, 1);
  color: #ffffff;
  background: rgba(0, 0, 0, 1);
  transition-property: background-color;
  transition-duration: .5s;
  margin-bottom: 4px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  border-bottom: 3px solid rgba(150, 100, 255, 1);
  background-color: rgba(150, 100, 255, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
}

#battery.charging, #battery.plugged {
  color: #26A65B;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}
